.stu-infobar {
    background-color: #B3A369;
    text-align:center;
    padding: 1px 5px 15px 20px;
}

.table {
    margin: auto;
}

.stu-info {
    display:inline-block;
    margin:auto;
     
}

.table_header {
    color:white;
}

#myProgress {
  width: 80%;
  background-color: #ddd;
  margin: auto;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #071D49;
  text-align: center;
  line-height: 30px;
  color: white;
}
